@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.font-oswald {
    font-family: "Oswald", serif;
    
}
.font-montserrat{
    font-family: "Montserrat", serif;
}
  
.bg-gradient-custom {
    background-image: linear-gradient(195deg, #1B3C5F, #397DC5);

}
body {
    -webkit-tap-highlight-color: transparent;
    background-color:white;
  
  }
  
  /* Scroll suave para mobile */
  @media (pointer: coarse) {
    html {
      scroll-behavior: smooth;
    }}

