body{
     background-color: #112942; 

}
input{
    color:white;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
 }
button{
    color:white;
}

input::placeholder{
    font-size: 14px;
    color:rgb(207, 206, 206);
    font-family: "Montserrat", serif;
}